.wrapper {
    display: inline-flex;
    list-style: none;
    height: 40px;
    margin-bottom: 1rem;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    justify-content: end;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tootip{
    width: 2rem!important;
  }

  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .vicky:hover,
  .wrapper .vicky:hover .tooltip,
  .wrapper .vicky:hover .tooltip::before {
    background: #08ad3a;
    color: #fff;
  }
  
  .wrapper .gonza:hover,
  .wrapper .gonza:hover .tooltip,
  .wrapper .gonza:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .lau:hover,
  .wrapper .lau:hover .tooltip,
  .wrapper .lau:hover .tooltip::before {
    background: #e269ac;
    color: #fff;
  }

  .wrapper .lucas:hover,
  .wrapper .lucas:hover .tooltip,
  .wrapper .lucas:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .marti:hover,
  .wrapper .marti:hover .tooltip,
  .wrapper .marti:hover .tooltip::before {
    background: #f26b1d;
    color: #fff;
  }
  
  .wrapper .jero:hover,
  .wrapper .jero:hover .tooltip,
  .wrapper .jero:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  
  