.ranking-container {
    display:flex;
    flex-direction: row;
}

.container, .abrir-menu, .logo{
    float: left;
    line-height: 70px;
}

.abrir-menu, label{
    cursor:pointer;
    font-size:25px;
}

#abrir-menu{
    display: none;
}

.tabla-rankings{
z-index: 1;
}

.container-menu{
    visibility: hidden;
    opacity: 0;
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:120vh;
    top:0;
    left:0;
    transition:all 500ms ease;
    z-index: 2;
}

#abrir-menu:checked + .container-menu{
opacity: 1;
visibility: visible;
}

.cont-menu{
    background:#111827;
    width:100%;
    max-width:250px;
    height: 100%;
    z-index: 2;
    position:relative;
    transition:all 500ms ease;
    transform:translateX(-100%);
}

#abrir-menu:checked + .container-menu .cont-menu{
    transform:translateX(0%)
    }

.cerrar-menu{
    position:absolute;
    right:5px;
    cursor:pointer;
}

.filtro-categoria, .filtro-ranking, .filtro-graduacion, .titulo-filtros{
    padding-top:1rem;
}

.titulo-filtros{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.podio{
    background-color: #111827;
    border-radius: 10px;
}

.segundo-lugar{
    border:5px solid #e3e4e5 !important;
    border-radius: 10px !important;
}
.primer-lugar{
    border:5px solid #ffbf00 !important;
    border-radius: 10px !important;
}

.tercer-lugar{
    border:5px solid #CD7F32 !important;
    border-radius: 10px !important;
}

.position-number{
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
}

.medalla{
    margin-top: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    /* position:relative;
    top:50px; */
}

.podio-nombre{
    margin-left: auto;
    margin-right: auto;
}
.tercero{
    color:#ac5703;
}

.segundo{
    color: #717272;
}

.primero{
    color: #e09200 ;
}

.medalla-tercero{
    background-color: #CD7F32;
    border:5px solid #ac5703;
    
}

.medalla-segundo{
    background-color: #e3e4e5;
    border:5px solid #717272;
    
}

.medalla-primero{
    background-color: #ffbf00 ;
    border:5px solid #e09200 ;
    
}

.contenedor-podio{
    height: 300px;
}