.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
}

@media only screen and (orientation:landscape) {

    .no-celular {
        display: none;
    }


    .puntaje-pulsadores {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        justify-content: center;
    }

    .puntaje {
        color: #a0aec0;
        font-size: 150px;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-family:sans-serif;
    }

    .titulo {
        color: #a0aec0;
        font-size: 80px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:sans-serif;
    }

    .info-ronda {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        font-size: 30px;
        font-family:sans-serif;
        color: #a0aec0;
    }


    .boton-izquierdo,
    .boton-derecho {
        width: 300px;
        height: 300px;
    }
}

/* @media only screen and (orientation:portrait) {
    .pulsador {
        display: none;
    }
} */


@media only screen and (min-height:500px){
    .pulsador {
        display: none;
    }
    .no-celular{
        display: block;
    }
}

/* @media only screen and (min-width:901px) {
    .contenedor {
        display: none;
    }
} */
